.cards {
	display: flex;
    flex-wrap: wrap;
}



.card {
	padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
    border-radius: 6px;
    margin: 20px 0px;
    flex-basis: 500px;
}
	.card img {
		    width: 150px;
	}